<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Infinite scroll</title>
</head>
<style>
    li {
        background-color: rgba(70, 87, 255, 0.08);
        width: 100%;
        margin-bottom: 20px;
        padding: 20px 0;
        cursor: pointer;
    }

    li:hover {
        background-color: rgba(70, 87, 255, 0.2);
    }
</style>

<body>
    <a href="/src/index.html">BACK</a>
    <ol class="list"></ol>
    <div class="more">loading ...</div>
    <script src="/src/partials/10.2.2/obsorver.js" type="module"></script>
    <!-- <script src="/src/partials/infinite-scroll-10.2.2.js"></script> -->
</body>

</html>